:root {
  --text-secondary-color: #2e2f42;
  --text-main-color: #434455;
  --text-white-color: #ffffff;
  --text-footer-color: #f4f4fd;
  --text-logo-blue-color: #4d5ae5;
  --text-logo-ligt-color: #f4f4fd;
  --text-logo-dark-color: #2e2f42;
  --text-hover-link-blue: #404bbf;
  --text-button-color: #4d5ae5;
  --text-button-white-color: #ffffff;

  --bg-color: #ffffff;
  --bg-dark-color: #2e2f42;
  --bg-ligt-grey-color: #f4f4fd;

  --bg-btn-hero: #4d5ae5;
  --bg-btn-hover: #404bbf;

  --bg-btn-filtres: #f4f4fd;
  --bg-btn-hover-filtres: #404bbf;

  --border-color-filtres-btn: #e7e9fc;
  --border-customers-color: #8e8f99;
  --footer-messenger-color: #31d0aa;
  --bg-modal-color: #fcfcfc;
}

/* Common stules */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
  color: var(--text-main-color);
  background-color: var(--bg-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  font-family: inherit;
  cursor: pointer;
}

/* Logo */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-logo-blue-color);
  margin-right: 76px;
}

.logo-header {
  color: var(--text-logo-dark-color);
}

.logo-footer {
  color: var(--text-logo-ligt-color);
}

/* Section-title */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--text-secondary-color);
  margin-bottom: 72px;
}
@media only screen and (min-width: 1200px) {
  .section-title {
    padding-top: 0;
  }
}

/* Base Styles */
.container {
  min-width: 320px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
  /* outline: 2px solid red;
  outline-offset: -2px; */
}
/* Tablet screen */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Desktop screen */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
    margin: 0 auto;
  }
}
.header {
  border-bottom: 1px solid var(--border-color-filtres-btn);
  align-items: center;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.div-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

@media only screen and (min-width: 1200px) {
  .div-container {
    margin: 0 auto;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  gap: 40px;
  display: flex;
}
@media only screen and (max-width: 767px) {
  .header-nav-list {
    display: none;
  }
}

.header-nav-link {
  color: var(--text-secondary-color);
}
.hnl {
  padding: 24px 0 24px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-line {
  position: relative;
  color: var(--text-hover-link-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-line::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--text-hover-link-blue);
  border-radius: 2px;
  width: 48px;
  height: 4px;
}

.hnl:hover,
.hnl:focus {
  color: var(--text-hover-link-blue);
}

.header-address {
  font-style: normal;
}
@media only screen and (max-width: 767px) {
  .header-address {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .header-adress-item {
    display: flex;
    gap: 40px;
  }
}

.header-address-link {
  font-weight: 400;
  color: var(--text-main-color);
  gap: 40px;
}
@media only screen and (min-width: 1200px) {
  .header-address-link {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.header-contact:hover,
.header-contact:focus {
  color: var(--text-hover-link-blue);
}
.header-contact {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--text-main-color);
}

/* Main */
.block-element {
  display: block;
}

/* Hero section */

.hero {
  background-color: var(--bg-dark-color);
  padding: 112px 0;
  max-height: 432px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-smartphone.jpg);
  max-width: 428px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  margin: 0 auto;

  margin-bottom: 48px;
}
@media only screen and (min-width: 768px) {
  .hero {
    max-height: 436px;
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-laptop.jpg);
  }
}
@media only screen and (min-width: 1200px) {
  .hero {
    padding: 188px 0;
    max-height: 600px;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office.jpg);
  }
}
.hero-block {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 1.12px;
  color: var(--text-white-color);
  display: block;
  padding-bottom: 36px;
  font-size: 36px;
  line-height: 40px;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 60px;
    max-width: 496px;
  }
}
.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--text-white-color);
  background-color: var(--bg-btn-hero);
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--bg-btn-hover);
}
.item {
  background-color: var(--text-button-white-color);
}

/* Features section */
.features {
  margin: 96px 0px;
}

@media only screen and (min-width: 1200px) {
  .features {
  }
}
.features-icons {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .features-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--bg-ligt-grey-color);
    border-radius: 4px;
    margin-bottom: 8px;
  }
}

.features-titles {
  letter-spacing: 0.02em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  margin: 0 auto;
}
.features-title {
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .features-title {
    width: calc((100%-24px) / 2);
    max-width: 356px;
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  .features-title {
    width: calc((100% - 72px) / 4);
    gap: 24px;
  }
}

.features-subtitle {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;

  color: var(--text-secondary-color);
}
@media only screen and (min-width: 768px) {
  .features-subtitle {
    text-align: left;
  }
}
@media only screen and (min-width: 1200px) {
  .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
  }
}

.features-text {
  font-weight: 400;
  letter-spacing: 0.32px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .features-text {
    font-weight: 500;
  }
}
@media only screen and (min-width: 1200px) {
  .features-text {
    font-weight: 500;
  }
}
/* What are we doing section */
.work {
  padding-bottom: 120px;
}
@media only screen and (max-width: 1199.8px) {
  .work {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .work {
    padding: 0;
  }
}
.work-list {
  display: flex;
  gap: 24px;
}
.work-list-list {
  flex-basis: calc((100% - 48px) / 3);
  width: calc((100% - 48px) / 3);
}

/* Our Team section */

.team {
  margin: 96px 0;
  background-color: var(--bg-ligt-grey-color);
}
@media only screen and (min-width: 1200px) {
  .team {
  }
}
.team-container {
  padding: 96px 0;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}
@media only screen and (min-width: 768px) {
  .team-list {
    gap: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .team-list {
    gap: 24px;
  }
}

.team-item {
  background-color: var(--bg-color);

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

@media only screen and (min-width: 768px) {
  .team-item {
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 72px) / 4);
  }
}

.div-item {
  padding: 32px 0;
}
.social-networks {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-network {
  width: 40px;
  height: 40px;
}
.social-icons {
  width: 100%;
  height: 100%;
  background-color: var(--bg-btn-hero);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--bg-ligt-grey-color);
}
.svg-icon {
  fill: var(--bg-ligt-grey-color);
}
.social-icons:hover {
  background-color: var(--bg-btn-hover-filtres);
}
.social-icons:focus {
  background-color: var(--bg-btn-hover-filtres);
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--text-secondary-color);
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  font-weight: 400;
  text-align: center;
}
/* Customers Section */
.customers {
  margin: 96px 0;
}
@media only screen and (min-width: 1200px) {
  .customers {
  }
}
.customers-title {
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 72px;
  text-align: center;
  color: var(--bg-dark-color);
}
.customers-container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
}
@media only screen and (min-width: 768px) {
  .customers-container {
    justify-content: center;
  }
}
@media only screen and (min-width: 1200px) {
  .customers-container {
    gap: 24px;
    flex-wrap: nowrap;
  }
}
.customers-icons {
  width: calc((100% - 16px) / 2);

  height: 88px;
}
@media only screen and (min-width: 768px) {
  .customers-icons {
    width: calc((80% - 24px) / 3);
  }
}
.customers-icn {
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-customers-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--border-customers-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icn:hover,
.customers-icn:focus {
  color: var(--bg-btn-hover);
  border-color: var(--bg-btn-hover);
}
.our-customers {
  fill: currentColor;
}
.customers-icn:hover,
.customers-icn:focus .our-customers {
  fill: var(--bg-btn-hover);
}

/* Footer section */

.footer {
  background-color: var(--bg-dark-color);
}
@media only screen and (min-width: 1200px) {
  .footer {
    padding: 100px 0;
    margin: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .footer {
    padding: 0;
  }
}
.footer-ctr {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  padding: 96px 16px;
}
@media only screen and (min-width: 768px) {
  .footer-ctr {
    gap: 0px;
    padding: 96px 108px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer-ctr {
    gap: 24px;
    align-items: baseline;
    flex-wrap: nowrap;
    padding: 0px 0px 96px 0px;
  }
}

.footer-text {
  font-weight: 400;
  color: var(--text-footer-color);
  max-width: 264px;
  text-align: justify;
}
@media only screen and (min-width: 768px) {
  .footer-text {
    margin: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .footer-text {
    padding-top: 17.5px;
    max-width: 280px;
  }
}
.footer-logo {
  text-align: center;
  padding-left: 0%;
  padding: 0px 64px 0px 64px;
}
@media only screen and (max-width: 767px) {
  .ftr {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) {
  .footer-logo {
    text-align: left;

    padding: 0px 24px 0px 0px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer-logo {
    padding: 0px 120px 0px 0px;
  }
}

.footer-media {
  padding: 0px 110px 0px 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .footer-media {
    padding: 0;
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  .footer-media {
    padding: 0px 80px 0px 0px;
  }
}

.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--bg-color);
}
@media only screen and (min-width: 767px) {
  .footer-title {
    padding-bottom: 16px;
    margin: 0;
  }
}
.footer-icons {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-messenger {
  width: 100%;
  height: 100%;
  background-color: var(--text-button-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--bg-ligt-grey-color);
}
.footer-messenger:hover,
.footer-messenger:focus {
  background-color: var(--footer-messenger-color);
}
.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
@media only screen and (min-width: 768px) {
  .subscribe-form {
    display: block;
    text-align: left;
    padding-top: 72px;
  }
}
@media only screen and (min-width: 1200px) {
  .subscribe-form {
  }
}
.form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--bg-color);
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .form-title {
    padding-bottom: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .form-title {
  }
}
.form-enter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
@media only screen and (min-width: 768px) {
  .form-enter {
    gap: 24px;
  }
}
@media only screen and (min-width: 1200px) {
  .form-enter {
    flex-wrap: nowrap;
  }
}

.label-form {
  display: flex;
}
.input-email {
  width: 390px;

  height: 40px;
  border: 1px solid var(--bg-color);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--bg-color);
}
@media only screen and (min-width: 768px) {
  .input-email {
    width: 264px;
    margin: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .input-email {
    width: 264px;
  }
}

.input::placeholder {
  color: var(--bg-color);
}
.button-subscribe {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--bg-color);
  cursor: pointer;
  background-color: var(--bg-btn-hero);
  border: none;
  border-radius: 4px;
}
.icon-subscribe {
  margin-left: 16px;
  fill: var(--bg-color);
}
/* Portfolio */
.section-portfolio {
  padding: 96px 0 120px 0;
  align-items: center;
}
.portfolio-list {
  justify-content: center;
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
}
.underline {
  color: var(--bg-btn-hover);
  position: relative;
}
.underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 66px;
  background-color: var(--bg-btn-hover-filtres);
  border-radius: 2px;
}

.portfolio-title {
  letter-spacing: 0.02em;
}
.portfolio-item {
}

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--text-button-color);
  background-color: var(--bg-btn-filtres);
  padding: 12px 24px;
  border: 1px solid var(--border-color-filtres-btn);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--text-button-white-color);
  background-color: var(--bg-btn-hover-filtres);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-prject-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin: 0;

  margin-bottom: 72px;
}
.portfolio-link {
  display: flex;
  width: calc((100% - 48px) / 3);
}
ul {
  padding-left: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
.pop-up-window {
  position: relative;
  overflow: hidden;
}
.hidden-text {
  position: absolute;
  color: var(--bg-btn-filtres);
  margin: 0;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--bg-btn-hero);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 700ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-div {
  padding: 32px 16px;
  border: 1px solid var(--border-color-filtres-btn);
  border-top: none;
}
.addition {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.addition:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.addition:hover .hidden-text,
.addition:focus .hidden-text {
  transform: translateY(0%);
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-secondary-color);
  margin-bottom: 8px;
}

.portfolio-text {
  font-weight: 400;
  color: var(--text-main-color);
}
.portfolio-text:hover {
  transform: translateY(0%);

  /* Modal-icon */
}
.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (max-width: 428px) {
  .modal-window {
    min-width: 90%;
  }
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background-color: var(--bg-modal-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.close-button {
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--border-color-filtres-btn);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  position: absolute;
}
.close-button:hover,
.close-button:focus {
  background-color: var(--bg-btn-hover);
  border: none;
}
.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover,
.close-button:focus .icon-close {
  fill: var(--bg-color);
}
.title-modal {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--bg-dark-color);
  margin-bottom: 16px;
}
.form-organizer {
  margin-bottom: 8px;
}
.label-name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--border-customers-color);
  display: block;
  margin-bottom: 4px;
}
.div-input-name {
  position: relative;
  margin-bottom: 8px;
}
.input-name {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-name:focus {
  border-color: var(--bg-btn-hero);
}
.icon-name {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-name:focus + .icon-name {
  fill: var(--bg-btn-hero);
}
.div-comment {
  margin-bottom: 16px;
}
.textarea-text {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-text:focus {
  border-color: var(--bg-btn-hero);
}
.div-checkbox {
  margin-bottom: 24px;
}
.input-checkbox {
}
.label-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--border-customers-color);
}
.span-line {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  cursor: pointer;
}
.span-line-2 {
  margin-left: 8px;
  cursor: pointer;
}
.span-icon {
}
.input-checkbox:checked + .label-checkbox .span-line {
  background-color: var(--bg-btn-hover-filtres);
  border: none;
  fill: var(--bg-ligt-grey-color);
}
.link-checkbox {
  color: var(--bg-btn-hero);
}

.button-send {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--bg-color);
  background-color: var(--bg-btn-hero);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.button-send:hover,
.button-send:focus {
  background-color: var(--bg-btn-hover);
}

/* Mobile menu */
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu-toggle-icon {
  stroke: var(--bg-dark-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: var(--bg-color);
  z-index: 999;
  padding: 40px 35px 40px 40px;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  flex-direction: column;
  padding-bottom: 284px;
}

.menu-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--bg-dark-color);
}
.color-studio {
  color: #4d5ae5;
}

.menu-color {
  color: var(--bg-dark-color);
}
.menu-address-link {
  list-style: none;
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  color: var(--bg-btn-hover);
}
.menu-address-link-2 {
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.menu-contact {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding-bottom: 48px;
}
.menu-messenger {
  display: flex;
  gap: 56px;
}
